[Unit]
Description=CSYE6225 WebApp Service
After=network.target

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/opt/webapp
EnvironmentFile=/opt/webapp/.env
ExecStart=/usr/bin/node /opt/webapp/app.js
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target